
<!DOCTYPE html>
<html>
  <head>
    <title>Pintoit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Pintoit" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pintoit.herokuapp.com/#/" />
    <meta property="og:image" content="<%= image_url asset_path('/app/assets/images/readme_screenshots/create_pin.gif') %>" />
    <meta property="og:description" content="A Pinterest clone that allows users to share and save pins to categorized boards" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>

    <link rel='icon' href="<%= image_url('favicon_logo.png') %>" type='image/x-icon'/ >
     
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-a11y="true"></script>

    <script type="text/javascript"> 
      window.logo="<%= image_url('pintoit_logo.png') %>"
    </script>

    

    <% if current_user %>
        <script>
          <% @user = current_user %>
          window.currentUser = 
            <%= render("api/users/user.json.jbuilder").html_safe %>

        </script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>